<h1>Burgers!</h1>

<h2>Eat da Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
    <li>{{this.burger_name}}</li>
    <div><form class = "devourForm" value = {{this.id}}>
      <input type = "hidden" id = "burgersId" type = "text" value= {{this.id}}><br>
      <button type="submit" class="brn brn-warning" id= "devour">
        Devour!
      </button>
    </form></div>
        {{/unless}}
  {{/each}}
</ul>

<h2>The Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
  <li>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Create a Burger</h2>

<form class="create-form" action = "/api/burgers" method = "POST">

  <div class="form-group">
      <label for="burgerName:">Burger Name:</label>
    <input type="text" class="form-control" id="burgerName" name="name">
  </div>

    <button type="submit" class="brn brn-warning" id= "submitB">Submit</button>
</form>
